@using Microsoft.Extensions.Options
@using System.Security.Principal

@{
    var availableLoas = new List<string> {
      "",
      "https://data.gov.dk/concept/core/nsis/loa/High",
      "https://data.gov.dk/concept/core/nsis/loa/Low",
      "https://data.gov.dk/concept/core/nsis/loa/Substantial",
      "urn:dk:gov:saml:attribute:AssuranceLevel:1",
      "urn:dk:gov:saml:attribute:AssuranceLevel:2",
      "urn:dk:gov:saml:attribute:AssuranceLevel:3",
      "urn:dk:gov:saml:attribute:AssuranceLevel:4"
    };
    string Loa = "";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-success" role="alert"> Hello, @User.Identity.Name!</div>
    <div class="alert alert-info" role="alert">
        <label for="Loa">Assurance Level</label>
        <div class="input-group">
            <select id="Loa" class="form-select" asp-items="@(new SelectList(availableLoas))" style="width:350px;max-width:350px;"></select>
        </div>
        <br />
        <label for="Loa">max_age</label>
        <div class="input-group">
            <input id="max_age" type="number" style="width:350px;max-width:350px;" />
        </div>
        <br />
        <div class="input-group">
            <a href="javascript:login(false, false);" class="btn btn-primary">Re-authenticate</a>
            <a href="javascript:login(true, false);" class="btn btn-primary">Force Authentication</a>
            <a href="javascript:login(false, true);" class="btn btn-primary">Passive Authentication</a>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        <div class="input-group" style="display:flex;">
            <a asp-area="" asp-controller="Account" asp-action="SignOut" class="btn btn-primary">Sign out</a>
            @if (ViewData["EnablePostLogout"] == "Yes")
            {
                <form action="@ViewData["EndSessionUri"]" enctype="application/x-www-form-urlencoded" method="post" style="padding-left:5px">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id_token_hint" value="@ViewData["IdTokenHint"]" />
                    <input type="hidden" name="post_logout_redirect_uri" value="@ViewData["RedirectUrl"]" />
                    <input name="Authorize" type="submit" value="Post logout" class="btn btn-primary" />
                </form>
            }
        </div>
    </div>


    @if (ViewData["EnableSessionManagement"] == "Yes")
    {
        <iframe frameborder="0" allowtransparency="true" height="0" width="0" src="@Url.Action("RPIFrame", "Account")"></iframe>
        <iframe frameborder="0" allowtransparency="true" height="0" width="0" src='@ViewData["CheckSessionIframeUri"]' id="opIFrame"></iframe>
    }
}
else
{
    <div class="alert alert-info">
        <label for="Loa">Assurance Level</label>
        <div class="input-group">
            <select id="Loa" class="form-select" asp-items="@(new SelectList(availableLoas))" style="width:350px;max-width:350px;"></select>
        </div>
        <br />
        <label for="Loa">max_age</label>
        <div class="input-group">
            <input id="max_age" type="number" style="width:350px;max-width:350px;" />
        </div>

        <br />
        <div class="input-group">
            <a href="javascript:login(false, false);" class="btn btn-primary">Sign in</a>
        </div>
    </div>
}

<script>
    function login(forceLogin, isPassive)
    {
        var loa = document.getElementById("Loa").value;
        var max_age = document.getElementById("max_age").value;
        var url = "/Account/Signin?loa=" + loa + "&forceLogin=" + forceLogin + "&isPassive=" + isPassive;
        if(max_age !== '')
        {
            url += "&max_age=" + max_age;
        }
        window.location.href = url;
    }
</script>
