@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json
@using System.Text.Encodings.Web
@{
    ViewData["Title"] = "Home Page";
}

@{
    var accessToken = ViewData[OpenIdConnectConstants.AccessToken];
    var idToken = ViewData["IdTokenHint"];
    string accessTokenHeader = "";
    string accessTokenPayload = "";
    string idTokenHeader = "";
    string idTokenPayload = "";

    if (accessToken != null)
    {
        var handler = new JwtSecurityTokenHandler();
        var jsonToken = handler.ReadToken((string)accessToken) as JwtSecurityToken;

        accessTokenHeader = JsonSerializer.Serialize(jsonToken.Header, new System.Text.Json.JsonSerializerOptions
                {
                    WriteIndented = true,
                    Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
                });
        accessTokenPayload = JsonSerializer.Serialize(jsonToken.Payload, new System.Text.Json.JsonSerializerOptions
                {
                    WriteIndented = true,
                    Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
                });

        var idJsonToken = handler.ReadToken((string)idToken) as JwtSecurityToken;
        idTokenHeader = JsonSerializer.Serialize(idJsonToken.Header, new System.Text.Json.JsonSerializerOptions
                {
                    WriteIndented = true,
                    Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
                });
        idTokenPayload = JsonSerializer.Serialize(idJsonToken.Payload, new System.Text.Json.JsonSerializerOptions
                {
                    WriteIndented = true,
                    Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
                });
    }
}

@if (accessToken != null)
{
    <style>
        /* Style for the JSON display div */
        .jsonDisplay {
            white-space: pre-wrap; /* Preserve line breaks and spacing */
            background-color: #f4f4f9; /* Light gray background */
            padding: 10px; /* Add some padding */
            border: 1px solid #ddd; /* Add a border */
            border-radius: 5px; /* Rounded corners */
            font-family: monospace; /* Monospace font for code */
            color: #333; /* Text color */
            overflow: auto; /* Enable scrolling for large content */
            max-height: 400px; /* Limit height */
        }
    </style>

    <div class="alert alert-success" role="alert">

        <h4 class="alert-heading">Id Token</h4>
        <div style="word-wrap:anywhere">@idToken</div>
        <hr>
        <h4 class="alert-heading">Header</h4>
        <div class="jsonDisplay">@idTokenHeader</div>
        <hr>
        <h4 class="alert-heading">Payload</h4>
        <div class="jsonDisplay">@idTokenPayload</div>
        <hr>
        <hr>
        <h4 class="alert-heading">Access Token</h4>
        <div style="word-wrap:anywhere">@accessToken</div>
        <hr>
        <h4 class="alert-heading">Header</h4>
        <div class="jsonDisplay">@accessTokenHeader</div>
        <hr>
        <h4 class="alert-heading">Payload</h4>
        <div class="jsonDisplay">@accessTokenPayload</div>
    </div>
}
else
{
    <h1>Home Page</h1>
}
